<div class="header-container desktop-only">
<div class="header-left-menu ftL"><a class="logo" href="//www.yatra.com" title="yatra.com"><i class="ico-newHeaderLogo"></i></a></div>

<div class="header-right-menu menu ftL">
<div class="settings">
<ul class="justified-menu desktop-navs settings-content responsivetabshow">
	<li class="list-dropdown" id="userLoginBlock"><a class="dropdown-toggle">My Account</a></li>
	<li class="list-dropdown customer-support-ddn"><a class="dropdown-toggle" href="#">Support</a></li>
	<li class="list-dropdown "><a class="dropdown-toggle">Recent Search</a></li>
	<li class="list-dropdown ytHeaderOffers"><a class="simple-tab"> Offers </a></li>
</ul>
</div>
</div>
</div>